
<header id="header" class="mockup-header mockup-section--dark paint-area">
    <div class="mockup-content mockup-grid mockup-grid--spread">
        <span class="mockup-logo paint-area paint-area--text">
            <i class="fa fa-play"></i>
            <span><%=Data['title']%></span>
        </span>
        <nav class="mockup-nav paint-area paint-area--text">
            <span>About</span>
            <span>Solutions</span>
            <span>Contact</span>
        </nav>
    </div>
</header>

<div id="headline" class='jumbotron MintHeadline'>
    <div class='container'>
        <h1 id="headline-h" class="paint-area paint-area--text"><%=Data['mainTitle']%></h1>
        <p id="headline-p" class="paint-area--text paint-area"><%=Data['subTitle']%></p>
    </div>
</div>

<div id="paragraph" class="MintParagraph">
    <div class="jumbotron">
        <p id="paragraph-p" class="paint-area  paint-area--text lead"><%=Data['paraContent']%></p>
    </div>
</div>

<div id="article" class="MintArticle">
    <div class="container">
        <div class="jumbotron">
            <h1 class="paint-area--text paint-area"><%=Data['articleTitle']%></h1>
            <hr class='featurette-divider'/>
            <p class="paint-area--text paint-area"><%=Data['articleContent']%></p>
        </div>
    </div>
</div>

<div id="single-bottom" class="MintSingle">
    <div class="jumbotron">
        <div class="SingleHolder">
            <img src="<%=Data['singleLink']%>" alt="..." class="img-thumbnail">
            <br />
            <p class="paint-area paint-area--text"><%=Data['singleContent']%></p>
        </div>
    </div>
</div>

<div id="single-top" class="MintSingle">
    <div class="jumbotron">
        <div class="SingleHolder">
            <p class="paint-area paint-area--text"><%=Data['singleContent']%></p>
            <img src="<%=Data['singleLink']%>" alt="..." class="img-thumbnail">
        </div>
    </div>
</div>

<div id="single-left" class="MintSingle">
    <div class="jumbotron">
        <div class="row SingleHolder">
            <div class="col-lg-5">
                <p class="paint-area paint-area--text"><%=Data['singleContent']%></p>
            </div>
            <div class="col-lg-7">
                <img src="<%=Data['singleLink']%>" alt="..." class="img-thumbnail">
            </div>
        </div>
    </div>
</div>

<div id="single-right" class="MintSingle">
    <div class="jumbotron">
        <div class="row SingleHolder">
            <div class="col-lg-7">
                <img src="<%=Data['singleLink']%>" alt="..." class="img-thumbnail">
            </div>
            <div class="col-lg-5">
                <p class="paint-area paint-area--text"><%=Data['singleContent']%></p>
            </div>
        </div>
    </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active GalleryPic">
            <img src="<%= Data['galleryLink1']%>" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item GalleryPic">
            <img src="<%= Data['galleryLink2']%>" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item GalleryPic">
            <img src="<%= Data['galleryLink3']%>" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="circles" class="MintCircles">
    <!-- -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="tile paint-area">
                    <img class="img-circle MintCircle" alt="" src="<%=Data['circleLink1']%>">
                    <h3 class="paint-area paint-area--text"><%=Data['circleTitle1']%></h3>
                    <p class="paint-area paint-area--text"><%=Data['circleContent1']%></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tile paint-area">
                    <img class="img-circle MintCircle" alt="" src="<%=Data['circleLink2']%>">
                    <h3 class="paint-area paint-area--text"><%=Data['circleTitle2']%></h3>
                    <p class="paint-area paint-area--text"><%=Data['circleContent2']%></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tile paint-area">
                    <img class="img-circle MintCircle" alt="" src="<%=Data['circleLink3']%>">
                    <h3 class="paint-area paint-area--text"><%=Data['circleTitle3']%></h3>
                    <p class="paint-area paint-area--text"><%=Data['circleContent3']%></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="video" class="MintVideo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper">
                    <div class="MintFrame">
                        <iframe class="VideoFrame" src="<%=Data['videoLink']%>" frameborder=0 allowfullscreen></iframe>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/3ncsMRK85Ps" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>